
<h1>Welcome to the Blackjack game!</h1>
<h3>Rules: The Bank stand at 17. Insurance pays 2 to 1</h3>


<% if @player_points.to_i < 21 && @bank_points.to_i < 17	%>

	<p>
		<%= card_info("Player", @player_card_name, @player_points) %>
	</p>

	<p>
		<h4>The Bank's card on the table shows <%= @bank_card_name %> which is <%= @bank_points %> points.</h4>
	</p>

	<p>Do you want to hit or to stand?</p>

	<p><%= link_to "Hit", hit_path(:pc => @player_cards, :pp => @player_points, :bc => @bank_cards, :bp => @bank_points ) %>  or  <%= link_to "Stand", stand_path(:pc => @player_cards, :pp => @player_points, :bc => @bank_cards, :bp => @bank_points) %></p>


<% elsif @stand	%>

	<h1>You stand with <%= @player_points %> points</h1>

	<h1>Resolution:</h1>
	<h1>Your total points: <%= @player_points %> vs Bank total points: <%= @bank_points %></h1>

	<%= resolution(@player_points, @bank_points)%>

	<%= link_to "Start Again", root_path %>


<% else	%>

	<p>
		<%= card_info("Player", @player_card_name, @player_points) %>
	</p>

	<p>
		<h4>Bank has withdrew some cards resulting in a total of <%= @bank_points %> points.</h4>
	</p>

 <%= player_feedback(@player_points) %>

 <h1>Resolution:</h1>
 <h1>Your points: <%= @player_points %> vs Bank points: <%= @bank_points %></h1>

 <%= resolution(@player_points, @bank_points)%>

	<%= link_to "Start Again", root_path %>

<% end	%>
